arch/root.x86_64/
arch/arch.tar.gz
arch/root.tar.gz
void/root-musl.tar.xz
void/root.tar.xz
debian/root.testing.x86_64
debian/root.testing.x86_64.tar.gz
debian/root.stretch.x86_64
debian/root.stretch.x86_64.tar.gz